name: Build Test

on:
  push:
    branches: master
  pull_request:
    branches: master

jobs:
  build:
    name: Build Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Setup Project
        run: npm ci
      - name: Build Project
        run: npm run build
      - name: ESLint
        run: npm run lint
      
